.Japan{
    width: 400px;
    height: 300px;
    color: blanchedalmond;
    border: 3px solid black;
    border-radius: 10px;
}
.circle{
    width: 120px;
    height: 120px;
    background-color: red;
    border-radius: 50%;
    top: 100px;
    left: 135px;
    position: relative;
}
.Instagram{
    border-radius: 15px;
    position: absolute;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.quck{
    left: 25px;
    top: 35px;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    position: absolute;
    border: 20px solid white;
}
.circle1{
    left: 55px;
    top: 75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    border: 20px solid white;

}
.tochka{
    left: 240px;
    top: 40px;
    border-radius: 50%;
    position: absolute;
    border: 20px solid white;
}

